:root {
  --faded-black: rgba(0,0,0,0.5);
  --text-color: white;
  --radius: 15px;
  --gap: 2rem;
  --border: solid 2px;
}

.controls {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gap);
}

.counter {
  appearance: none;
  border: var(--border) var(--text-color);
  color: var(--text-color);
  background-color: var(--faded-black);
  border-radius: var(--radius);
  box-shadow: 0px 5px 15px var(--faded-black);
  padding: 0.2rem 0.5rem;
  outline: none;
  font-size: 3rem;
  transition: box-shadow 200ms ease-in-out;
}

.counter:active {
  box-shadow: 0px 2.5px 5px var(--faded-black);

}

.display {
  border: var(--border) darkcyan;
  background-color: var(--faded-black);
  width: 100%;
  height: 4rem;
  margin-bottom: var(--gap);
  border-radius: var(--radius);
  font-size: 3rem;
  text-align: center;
  color: var(--text-color)
}